@charset "UTF-8";
/****** HEART *****/
.heart {
  width: 1rem;
  height: 1rem;
  position: relative;
}

.heart::before {
  position: absolute;
  left: 0;
  top: 0;
  content: '❤️';
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.heart_fail::before {
  content: '💔';
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-animation: heart-fail 1s;
          animation: heart-fail 1s;
  -webkit-transition: -webkit-filter 2s;
  transition: -webkit-filter 2s;
  transition: filter 2s;
  transition: filter 2s, -webkit-filter 2s;
}

.hearts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 1.5rem;
}

@-webkit-keyframes heart-fail {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  10% {
    -webkit-transform: rotate(40deg) scale(1.2);
            transform: rotate(40deg) scale(1.2);
  }
  20% {
    -webkit-transform: rotate(-40deg) scale(0.8);
            transform: rotate(-40deg) scale(0.8);
  }
  40% {
    -webkit-transform: rotate(30deg) scale(1.3);
            transform: rotate(30deg) scale(1.3);
  }
  60% {
    -webkit-transform: rotate(-20deg) scale(0.8);
            transform: rotate(-20deg) scale(0.8);
  }
  80% {
    -webkit-transform: rotate(10deg) scale(1.1);
            transform: rotate(10deg) scale(1.1);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
}

@keyframes heart-fail {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  10% {
    -webkit-transform: rotate(40deg) scale(1.2);
            transform: rotate(40deg) scale(1.2);
  }
  20% {
    -webkit-transform: rotate(-40deg) scale(0.8);
            transform: rotate(-40deg) scale(0.8);
  }
  40% {
    -webkit-transform: rotate(30deg) scale(1.3);
            transform: rotate(30deg) scale(1.3);
  }
  60% {
    -webkit-transform: rotate(-20deg) scale(0.8);
            transform: rotate(-20deg) scale(0.8);
  }
  80% {
    -webkit-transform: rotate(10deg) scale(1.1);
            transform: rotate(10deg) scale(1.1);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
}

/****** BUTTON *****/
.answer-button {
  min-width: 200px;
  background-color: aqua;
  padding: 1rem 2rem;
  border-radius: 0.6rem;
  text-transform: uppercase;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.answer-button:hover {
  background-color: aquamarine;
}

.answer-button:active {
  background-color: cyan;
}

.reset_the_game {
  background-color: lightyellow;
  border-radius: 0.6rem;
  display: block;
  margin: auto;
  margin-top: 1.5rem;
  padding: 1rem 1rem;
}

.reset_the_game:hover {
  background-color: #a0dd4b;
}

.reset_the_game:active {
  background-color: #99ff00;
}

.audio__btn {
  background-color: #2f2fb9;
  padding: 1rem 1rem;
  border-radius: 0.6rem;
  text-transform: uppercase;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  color: white;
  display: block;
  margin: auto;
  margin-bottom: 1.5rem;
}

.audio__btn:hover {
  background-color: #7a75a3;
}

.audio__btn:active {
  background-color: #091e5a;
}

.games__title {
  text-align: center;
  margin-bottom: 2rem;
}

.games {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 35px;
}

.game__btn {
  background-color: #ffc001;
  margin-top: 0.8rem;
  border: 1px solid black;
  width: 200px;
  height: 50px;
  font-weight: 800;
  border-radius: 0.6rem;
}

.audiocall__title {
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 1rem;
  text-align: center;
}

.group_of_words {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  margin-top: 2rem;
}

.group_of_words__elem {
  width: 40px;
  height: 40px;
  background-color: #ffc001;
  text-align: center;
  padding-top: 5px;
  border-radius: 50%;
}

.results {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.results .results__elems {
  padding: 0.3rem;
}

.results .results__elems::first-letter {
  text-transform: uppercase;
}
/*# sourceMappingURL=audiocall.css.map */