@import './color.scss';
.words {
    padding: 100px 20px;
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 10px;
    justify-content: space-around;
    &__item {
        max-width: 320px;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 0 6px $colorText;
    }
    &__img {
        width: 100%;
        height: 200px;
    }
}
.pagination {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    z-index: 10;
    &__arrow {
        margin: 10px;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        box-shadow: 0 0 6px $colorText;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}
#pagination {
    display: flex;
    justify-content: center;
    li {
        display: none;
    }
}
#pagination li.activeList {
    display: flex;
}
audio {
    z-index: 1;
}
.amount-words {
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 6px $colorText;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hardest-words {
    display: flex;
    justify-content: center;
    padding-top: 90px;
    button {
        margin: 10px;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        box-shadow: 0 0 6px $colorText;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
[color="pink"] {
    background-color: #ffc0cb;
}
[color="blue"] {
    background-color: #849cfa;
}
[color="turquoise"] {
    background-color: #84faee;
}
[color="purple"] {
    background-color: #e690f8;
}
[color="green"] {
    background-color: #94fa84;
}
[color="yellow"] {
    background-color: #faf284;
}
[color="hard"] {
    background-color: #ff7171;
}
@media screen and (max-width: 670px) {
    .pagination {
        width: 100%;
    }
}
@media screen and (max-width: 420px) {
    audio {
        width: 90%;
    }
    .words {
        &__item {
            max-width: 100%;
        }
    }
}
