@import './color.scss';
.words {
    padding: 100px 20px;
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 10px;
    justify-content: space-around;
    &__item {
        max-width: 320px;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 0 6px #1b1b1d;
    }
    &__img {
        width: 100%;
        height: 200px;
    }
}
.pagination {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    background: $backgroundColor;
    width: calc(100vw - 116px);
    z-index: 10;
    &__arrow {
        margin: 10px;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        box-shadow: 0 0 6px #1b1b1d;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}
#pagination {
    display: flex;
    justify-content: center;
    li {
        display: none;
    }
}
#pagination li.activeList {
    display: flex;
}
audio {
    z-index: 1;
}
.amount-words {
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 6px #1b1b1d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hardest-words {
    position: fixed;
    z-index: 10;
    li {
        margin: 10px;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        box-shadow: 0 0 6px #1b1b1d;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        &:nth-child(1) {
            background: blue;
        }
        &:nth-child(2) {
            background: blueviolet;
        }
        &:nth-child(3) {
            background: green;
        }
        &:nth-child(4) {
            background: red;
        }
        &:nth-child(5) {
            background: yellow;
        }
        &:nth-child(6) {
            background: pink;
        }
        // &:nth-child(7) {

        // }
    }
}
@media screen and (max-width: 670px) {
    .pagination {
        width: 100%;
    }
}
@media screen and (max-width: 420px) {
    audio {
        width: 90%;
    }
    .words {
        &__item {
            max-width: 100%;
        }
    }
}
