.work {
    h3 {
        text-align: center;
    }

    .statistics__text {
        text-align: center;
        margin-top: 1rem;
    }

    .statistics__learned-words {
        margin-left: 2rem;
        margin-bottom: 1.5rem;
    }
}